
* {
    padding: 0;
    margin: 0;
  }

  #card{
      border: 2px solid black;
    width: 300px;
    height: 450px;
    background-image: url(https://watchincanada.ca/media/cache/a9/a0/a9a03a32b1d6b923d4503d3d77edb08d.jpg);
  }