* {
  padding: 0;
  margin: 0;
}
#background-color {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #56d8e4, #9f00e9);
}
#login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 30px;
}
#loginText {
  font-size: 30px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: sans-serif;
}
#center {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
#redBorder {
  display: flex;
  flex-direction: column;
  height: 97%;
  width: 76%;
  padding-left: 20px;
  padding-right: 20px;
}
#username {
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid grey;
  padding: 5px 10px;
  outline: none;
  justify-content: center;
  color: lightgray;
  margin-bottom: 40px;
  font-size: 20px;
  cursor: pointer;
}
#password {
  border: none;
  border-bottom: 1px solid grey;
  padding: 5px 10px;
  outline: none;
  color: lightgray;
  font-size: 20px;
  cursor: pointer;
}
#forgotPassTxt {
  margin-right: 267px;
  color: grey;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  margin-top: 10px;
  cursor: pointer;
}
#button {
  height: 50px;
  background-color: #0096ff;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  width: 216px;
  margin-left: 80px;
  cursor: pointer;
  margin-top: 10px;
}
.memberTxt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#signUp {
  color: #0096ff;
  cursor: pointer;
}
#memberSignUp{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 103px;
  margin-top: 10px;
}
@media (max-width: 500px) {
  #login-form {
    width: min-content;
  }
  #button{
    margin-left: 50px;
  }
  #memberSignUp{
    margin-left:75px;
  }
}
